<a
  class="btn shadow-none border-0 options fs-3 mt-5"
  style="font-weight: 700"
  routerLink="/profile"
>
  Passenger Details
</a>
<a
  class="btn shadow-none border-0 options fs-3 mt-5"
  style="font-weight: 700"
  routerLink="/co-passengers"
>
  Manage Co-Passengers
</a>
<a
  class="btn shadow-none border-0 options fs-3 mt-5 mb-5"
  style="font-weight: 700"
  routerLink="/co-passengers/add"
>
  Add a New Passenger
</a>
<a class="btn shadow-none border-0 options fs-3 mb-5" style="font-weight: 700">
  Booking History
</a>
